//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.01
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Sat 02 21 21:16:24 2026

IO_LOC "BUZZER" 79;
IO_PORT "BUZZER" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DC" 26;
IO_PORT "LCD_DC" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_CS" 27;
IO_PORT "LCD_CS" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DIN" 25;
IO_PORT "LCD_DIN" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_CLK" 28;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDS[5]" 15;
IO_PORT "LEDS[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LEDS[4]" 16;
IO_PORT "LEDS[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LEDS[3]" 17;
IO_PORT "LEDS[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LEDS[2]" 18;
IO_PORT "LEDS[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LEDS[1]" 19;
IO_PORT "LEDS[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LEDS[0]" 20;
IO_PORT "LEDS[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "KEYBOARD_ROW[2]" 41;
IO_PORT "KEYBOARD_ROW[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_ROW[1]" 42;
IO_PORT "KEYBOARD_ROW[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_ROW[0]" 76;
IO_PORT "KEYBOARD_ROW[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[9]" 73;
IO_PORT "KEYBOARD_COL[9]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[8]" 74;
IO_PORT "KEYBOARD_COL[8]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[7]" 75;
IO_PORT "KEYBOARD_COL[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[6]" 29;
IO_PORT "KEYBOARD_COL[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[5]" 30;
IO_PORT "KEYBOARD_COL[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[4]" 31;
IO_PORT "KEYBOARD_COL[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[3]" 72;
IO_PORT "KEYBOARD_COL[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[2]" 71;
IO_PORT "KEYBOARD_COL[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEYBOARD_COL[1]" 53;
IO_PORT "KEYBOARD_COL[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "KEYBOARD_COL[0]" 86;
IO_PORT "KEYBOARD_COL[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
